<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Регистрация</title>
</head>
<body>
	<form name="login-form" action="/registration" method="POST" enctype="utf8">
		<div>
			<h1>Регистрация</h1>
			<span>Введите ваши данные для регистрации. </span>
		</div>
		<div>
			<input name="username" type="text" class="input username" value="Логин" onfocus="this.value=''" />
			<input name="password" type="password" class="input password" value="Пароль" onfocus="this.value=''" />
		</div>
		<button type="submit">ЗАРЕГИСТРИРОВАТЬ</button>
	</form>
	<hr>
	<form action="/auth/login" method="get"><button type="submit">Авторизация</button></form>
</body>
</html>